<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Notepad++ Plugin Manager Admin</title>
    </head>
    <body>
        <div id="app-container">
        </div>
    </body>
</html>
