
.highlighted {
  font-weight: bold;
}

.highlighted.validated.validationRequired {
  color: red;
}

.highlighted.validated.validationOk {
  color: #1bda1b;
}

.highlighted.validated.validationBad {
  color: hotpink;
}

